  <mat-toolbar color="primary">
    <span>Charts</span>
    <span class="example-spacer"></span>
    <button routerLink="/timeline" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>line_style</mat-icon>
    </button>
    <button routerLink="line-chart" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>timeline</mat-icon>
    </button>
    <button routerLink="issue-chart" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>short_text
      </mat-icon>
    </button>
    <button routerLink="e-chart" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>bar_chart</mat-icon>
    </button>
  </mat-toolbar>
